/**
 * Add brand variables in this file.
 */

$brand-black:       #000000;
$brand-white:       #ffffff;

$brand-primary:     #521B65;
$brand-secondary:   #E6007D;

$brand-grey:		#ebebeb;
$brand-grey-light:	#BFC2C1;
$brand-grey-medium:	#86878C;
$brand-grey-dark:	#313B3D;

$brand-text:		$brand-grey-dark;
